.well.well-small
  .navbar
    =link_to list.msg.user, ':user_id/conversations/:id', :id => list.id
    %p{:align=>'left'}= list.msg.body
    %P{:align=>'left'}Received at
    %p{:align=>'left'}= list.msg.time