= stylesheet_link_tag 'home'
#blac-div
  %h5
    New message
    #for-close
      %a{'data-dismiss'=> 'modal',:id=> 'close-button'} Close
.mainbox
  =form_for Message.new, :url => {:controller => 'conversations', :action => 'create_message',
  :contact_id => contact_id} do |f|
    =f.label :body, 'New message for '+User.find(contact_id).name
    =f.text_area :body, :class=>'span2', :id=> 'send-message-input'
    =f.submit 'Send', :class => 'btn btn-small btn-inverse',:id=> 'send-message-button';
