= stylesheet_link_tag 'home'
.list-messages-form
  %textarea{:placeholder => (t :new_message), :class => 'span9', :id => 'send-message-input'}
  %button{:class => 'btn btn-small btn-inverse', :id => 'send-message-button-for-list', :onclick => 'create_message()'} #{t :send}