= stylesheet_link_tag 'home'
.mainbox
  #blac-div
    %h5
      =t :respond_to_event
      #for-close
        %a{'data-dismiss'=> 'modal',:id=> 'close-button'} Close
  =form_for Message.new, :url => user_event_respond_path(event.user, event) do |f|
    =f.text_area :body, :class=>'span2', :id=> 'send-message-input'
    =f.submit 'Send', :class => 'btn btn-small btn-inverse',:id=> 'send-message-button';
