.span9#container
  .well.well-small
    .btn-toolbar
      =button_to 'New message', :controller => 'messages', :action => 'new_message'
      %h5{:align=>'left'} YOUR MESSAGES
  -if @messages.empty?
    .well.well-small
      %p You have no messages from this user yet
  -else
  -@messages.each do |message|
    .well.well-small
      .navbar
        %h6{:align=>'left'}= message.sender.name
        .btn-group.pull-right
          =button_to 'Reply', :controller => 'messages', :action => 'new_message', :id => message.sender.id;
        %p{:align=>'left'}= message.body
        %P{:align=>'left'}Received at
        %p{:align=>'left'}= message.created_at