%h2 Select Image
%div
	= form_for :images, :url => "/image/bind" do |f|
		%ul#images
			- user.images.each do |image|
				%li.image
					%div
						%img{:src => image.src.url(:thumb)}
					%div.deleteImage{:id => image.id}
						X
		%div.uploadImage.btn
			add image
			= f.file_field :upload, :accept => "image/*", :id => "uploadImage"
		%div.uploadImage.btn
			submit images
			= f.submit
