= stylesheet_link_tag 'home'
#blac-div
  %h5
    New event
    #for-close
      %a{'data-dismiss'=> 'modal',:id=> 'close-button'} Close
.mainbox
  #error-div
    %p Please fill in all fields, son of a bitch!!
  %form{:id => 'add-event-form'}
    %label Title
    %input{ :id=> 'title-input', :type => 'text', :placeholder => 'Title'}
    %label Description
    %textarea{ :rows => 5, :id=> 'description-input', :type => 'text', :placeholder =>'Description' }
    %input{:id => 'date-input', :type => 'text'}
    %br
    %submit{ :class => 'btn btn-small btn-inverse',:id=> 'create-event-button'} Submit
