.container.main-container
  .row
    .span4
      - if can? :create, :all
        .add-event-container
          %h4
            = t :fill_in_event
      //= form_for @event, url => 'events/create', :remote => true do |f|
    .span8
      .calendar-container
        #calendar
%input{:id => 'title-for-show',:class => 'hidden'}
%textarea{:id => 'description-for-show',:class => 'hidden'}
%input{:id => 'date-input', :type => 'text'}