.container.main-container
	.row
		.span5
			- if can? :create, @event
				= render 'calendar/add_event_form'
			- if can? :read, @events
				= render 'calendar/contractor_profile'
		.span7
			= render 'calendar/calendar'
%input{:id => 'title-for-show',:class => 'hidden'}
%textarea{:id => 'description-for-show',:class => 'hidden'}
%input{:id => 'date-input', :type => 'text'}