.well.well-small
  .navbar
    %h2
      =button_to 'Show dialog', :controller => 'conversations', :action => 'show', :id => list[:id]
    %p{:align=>'left'}= list[:msg].body
    %p{:align=>'left'}=puts 'Received at'; list[:msg].created_at