.well.sidebar-nav
  %ul{:class=>'nav nav-list'}
    %li{:class => 'nav-header'}Office
    %li
      =link_to t(:home) ,root_url,:remote => false, :method => 'GET'
      // user_signed_in? check in file /app/views/layouts/calendar.html.haml
      // in /app/views/layouts/office.html.haml unauthorized user redirecting to sing_in
      %li
        =link_to t(:my_page), user_url(current_user)
      %li
        =link_to t(:edit_page), "/users/edit"
      %li
        =link_to t(:conversations) + count_unread_messages, '/conversations'
    - if can? :read, @event
      %li
        =link_to t(:show_bookings),'/show_bookings', :id => 'show-bookings'
    - if can? :upload, :photo
      %li
        =link_to t(:portfolio), '/office/portfolio', :id => 'porfolio'
