.well.sidebar-nav
  %ul{:class=>'nav nav-list'}
    %li{:class => 'nav-header'}Office
    %li
      =link_to 'home' ,root_url,:remote => false, :method => 'GET'
    %li
      =link_to 'edit page', "/users/edit"
    - if user_signed_in?
      %li
        =link_to 'conversations ' + count_unread_messages, '/conversations'
    - if can? :read, @events
      %li
        =link_to 'show-bookings','', :id => 'show-bookings'
    - if can? :upload, :photo
      %li
        =link_to 'portfolio', 'office/portfolio', :id => 'porfolio'
