.calendar-type.role-group{'data-toggle' => 'buttons-radio'}
	%button.btn.my-calendar-option.active#options{:name => 'options', :type => 'radio'}
		= t(:my_calendar)
	%button.btn.orders-option#options{:name => 'options', :type => 'radio'}
		= t(:open_orders)