%a.btn.social-btn.btn-inverse{:href => "/users/auth/vkontakte"} #{t(:sign_in_with)} vkontakte
%a.btn.social-btn.btn-info{:href => "/users/auth/twitter"}  #{t(:sign_in_with)} twitter
%a.btn.social-btn.btn-primary{:href => "/users/auth/facebook"}  #{t(:sign_in_with)} facebook
