.container.demo-4
	.main
		.gallery
			%ul{:class=>'elastislide-list', :id=>'carousel'}
				- @user.images.each do |image|
					%li{'data-preview'=> image.src.url(:original)}
						%a{:href=> '#'}
							= image_tag image.src.url(:small)
			.image-preview
				%img{:id=>'preview'}