- users.each do |user|
	.row-fluid
		.span4
			%h4
				=link_to user.name, user, :id => 'user_' + user.id.to_s
		.span4
			%h4
				=t(user.role)
		.span4.text-right
			%button{:type => 'button', :class => 'btn btn-primary',
										'data-target' => '#messageModal',
										'user_id' => user.id.to_s,
										'data-toggle' => 'modal'}
				= t :send_message
			.modal.hide.fade{:id => 'messageModal_' + user.id.to_s}
				%i.icon-spin.icon-refresh
