.container
  %h1
    Users:
  -@users.each do |user|
    .row
      .span2.offset2
        %h2
          =link_to user.name, user
      .span1
        %h4
          =user.role
      .span4.offset1
        %h2
          %button{:type=> 'button', :class => 'btn btn-primary', :id=>'message-btn', 'data-target'=>'#messageModal',
                        'data-toggle' => 'modal'} Send a message
        #messageModal.modal.hide.fade
          = render :partial => "messages/new_message", :locals => {:contact_id => user.id}

= javascript_include_tag "profile"

