= stylesheet_link_tag 'welcome'
%br
.box
  %p.text_header Добро пожаловать в

  %p.text_header.kogdata
    Kogdata
    %sup beta
  %br
  %p.lead.center_text.georgia
    Это лёгкий путь, чтобы найти фотографа
    %br
    для вашего важного события за очень короткий промежуток времени.
    %br
    Достаточно добавить ваше событие в календарь на нужной дате и
    %br
    ожидать сообщений от фотографов.
  .row-fluid
    .span5
      %h3 Что даёт проект пользователю:
      %ul
        %li Легко найти фотографа чтобы запечатлеть важные и яркие моменты жизни.
        %li Обработка фотографий профессионалом для наилучешего качества.
        %li Отличные снимки - лучшая память о важных событиях в жизни.
        %li Наслаждаетесь вы - наслаждаются ваши семья и другзья - отличный повод провести время вместе.
    .span7
      %img{:src => '/images/collage_example.png'}
  .row-fluid
    .span5
      %h3 Что даёт проект фотографу:
      %ul
        %li Легко найти пользователя, которому необходим профессионал.
        %li Узнать объем работ и взять с собой только самое необходимое.
        %li Удобно распоряжаться своим временем при помощи календаря.
        %li Богатое портфолио, подкрепленное хорошими отзывами клиентов.
        %li Нет лишних звонков - все подробности в одном месте.

    .span7
      %img{:src => '/images/calendar.png'}

  %h2.text_header Легко и Быстро!
  %h3.text_header
    = link_to 'Попробуйте.', '/users/sign_up'
%br
%br
