= stylesheet_link_tag 'welcome'
%br
.box
  %p.text_header Welcome to

  %p.text_header.kogdata Kogdata
  %br
  %p.lead.center_text This is easy way to find photographer for you event in very short time.
  %p.lead.center_text Just post your event in date where you want and wait a feedback messages in your inbox.
  %h2.text_header Easy & Fast!
  %h3.text_header Try it.
  %br
