= stylesheet_link_tag 'welcome'
%br
.box
  %p.text_header Добро пожаловать в

  %p.text_header.kogdata
    Kogdata
    %sup beta
  %br
  %p.lead.center_text.georgia
    Это лёгкий путь, чтобы найти фотографа
    %br
    для вашего важного события за очень короткий промежуток времени.
    %br
    Достаточно добавить ваше событие в календарь на нужной дате и
    %br
    ожидать сообшений от фотографов.
  .row-fluid
    .span5
      %h3 Что даёт проект пользователю:
      %p.georgia.italic
        Легко найти фотографа чтобы запечатлеть важные и яркие моменты жизни.
        %br
        Быть Уверенным, что работа будет выполена качественно и превосходно.
        %br
        Достаточно посмотреть портфолио фотографа и отзывы пользователей,
        чтобы понять - это действительно то, что вам нужно.
        %br
        Что вы получаете с фотографиями:
        %dl.georgia.italic
          %dd Никаких размытых фотографий.
          %dd Обработка фотографий профессионалом для наилучешего качества.
          %dd Отличные снимки - лучшая память о важных событиях в жизни.
          %dd Насыщенные цвета - яркие впечатления.
          %dd Превосходное качество - новые детали при каждом взгляде.
          %dd Наслаждаетесь вы - наслаждаются ваши семья и другзья - отличный повод провести время вместе.
    .span7
      %img{:src => '/images/collage_example.png'}
  .row-fluid
    .span5
      %h3 Что даёт проект фотографу:
      %dl.georgia.italic
        %dd Легко найти пользователя, которому необходим профессионал.
        %dd Заранее понять работу, её местоположение, сложность.
        %dd Сразу взять с собой только самое необходимое - легкая сумка, приятная работа.
        %dd Удобно распоряжаться своим временем при помощи календаря.
        %dd Богатое портфолио, подкрепленное хорошими отзывами клиентов.
        %dd Рабочая переписка на сайте - почта, чистая от рабочих писем.
        %dd Нет лишних звонков - все подробности в одном месте.

    .span7
      %img{:src => '/images/calendar.png'}

  %h2.text_header Легко и Быстро!
  %h3.text_header #{link_to 'Попробуйте.', '/users/sign_up'}
%br
%br
