.row-fluid
	.span3.text-to-right
		%img{:src => '/assets/promo_page_boy.png'}
		.text_header
			Заказчику
		%ul.list
			%li У вас праздник?
			%li Размести заказ
			%li Получи предложения
			%li Выбери лучшего
	.span6
		.logo
			Kogdata
		.text
			%p
				Сервис поиска фотографов для мероприятий
				%br
				и мероприятий для фотографов
			%p
				%img{:src => '/assets/promo_page_calendar.png'}
			.try_it
				= link_to 'Попробуйте', '/users/sign_up', :class => 'try_it'
	.span3
		%img{:src => '/assets/promo_page_panda.png'}
		.text_header
			Фотографу
		%ul.list
			%li Ищешь заказ?
			%li Размести портфолио
			%li Отправляй заявки
			%li Побеждай!