#events-container
  %div
    %h1
      =@event.title
    %p
      %h4
        = t(:date_text) + ':'
        =@event.start.strftime("%d.%m.%Y")
    %p
      %h4
        = t(:description) + ':'
      =@event.description
      -if @event.user_id == @user.id
        %h4
          = t(:recalls)  + ':' + @event.messages.count.to_s
      -else
        %button{:type=> 'button', :class => 'btn btn-large btn-inverse', :id=>'message-btn',
          'data-target'=>'#messageModal', 'data-toggle' => 'modal'}
          =t :to_photo
        #messageModal.modal.hide.fade
          = render :partial => 'messages/new_response_to_event', :locals => {:event => @event}
