%h5 EVENTS
- @events.each do |event|
  .container#events-container
    .span10.offset2
      %h1
        =event.title
        %h4 Date:
        =event.start.strftime("%m/%d/%Y")
        %br
        %h4 Description:
        =event.description
        %br

      %button{:type=> 'button', :class => 'btn btn-large btn-inverse', :id=>'message-btn',
      'data-target'=>'#messageModal_' + event.id.to_s, 'data-toggle' => 'modal'}
        =t :to_photo
      .modal.hide.fade{:id => 'messageModal_' + event.id.to_s}
        = render :partial => 'messages/new_response_to_event', :locals => {:event => event}
