= stylesheet_link_tag 'lc'
.sidebar
  .hero-unit
    %ul{:class => 'nav nav-list'}
      %li{:class=>'nav-header'}
        %a{:href=>'index'}
          %h5 Personal Page
      %li
        %a{:href=>'profile_update'} Change profile
      %li
        %a{:href=>'create_msg'} New message
.mainbox
  .hero-unit

