/* importing fonts */

@font-face {
	font-family: Comfortaa-bold;
	src: url(/fonts/comfortaa-bold.ttf?) format('truetype');
}

@font-face {
	font-family: Comfortaa-regular;
	src: url(/fonts/comfortaa-regular.ttf?) format('truetype');
}

@font-face {
	font-family: "OpenSans-bold";
	src: url(/fonts/opensans-bold.ttf?) format('truetype');
}

@font-face {
	font-family: "OpenSans";
	src: url(/fonts/opensans-regular.ttf?) format('truetype');
}

@font-face {
	font-family: "eurofurence-regular";
	src: url(/fonts/eurof55.ttf) format('truetype');
}

/* end importing fonts */

