/* importing fonts */

@font-face {
	font-family: Comfortaa-bold;
	src: url(/fonts/comfortaa-bold.ttf?) format('truetype'),
	url(/fonts/comfortaa-bold.eot?) format('embedded-opentype');
}

@font-face {
	font-family: Comfortaa-regular;
	src: url(/fonts/comfortaa-regular.ttf?) format('truetype'),
	url(/fonts/comfortaa-regular.eot?) format('embedded-opentype');
}

@font-face {
	font-family: "OpenSans-bold";
	src: url(/fonts/opensans-bold.ttf?) format('truetype'),
	url(/fonts/opensans-bold.eot?) format('embedded-opentype');
}

@font-face {
	font-family: "OpenSans";
	src: url(/fonts/opensans-regular.ttf?) format('truetype'),
	url(/fonts/opensans-regular.eot?) format('embedded-opentype');
}

@font-face {
	font-family: "eurofurence-regular";
	src: url(/fonts/eurof55.ttf?) format('truetype'),
	url(/fonts/eurof55.ttf?) format('embedded-opentype');
}
    /*

@font-face {
	font-family: 'Comfortaa-bold';
	src: url('comfortaa-bold-webfont.eot');
	src: url('comfortaa-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('comfortaa-bold-webfont.woff') format('woff'),
	url('comfortaa-bold-webfont.ttf') format('truetype'),
	url('comfortaa-bold-webfont.svg#comfortaabold') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'Сomfortaa-light';
	src: url('/fonts/comfortaa-light-webfont.eot');
	src: url('/fonts/comfortaa-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/comfortaa-light-webfont.woff') format('woff'),
	url('/fonts/comfortaa-light-webfont.ttf') format('truetype'),
	url('/fonts/comfortaa-light-webfont.svg#comfortaalight') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: Comfortaa-regular;
	src: url('/fonts/comfortaa-regular-webfont.eot');
	src: url('/fonts/comfortaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/comfortaa-regular-webfont.woff') format('woff'),
	url('/fonts/comfortaa-regular-webfont.ttf') format('truetype'),
	url('/fonts/comfortaa-regular-webfont.svg#comfortaaregular') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'eurofurence-lightregular';
	src: url('eurof35-webfont.eot');
	src: url('eurof35-webfont.eot?#iefix') format('embedded-opentype'),
	url('eurof35-webfont.woff') format('woff'),
	url('eurof35-webfont.ttf') format('truetype'),
	url('eurof35-webfont.svg#eurofurence_lightregular') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'eurofurence-light-italic';
	src: url('eurof36-webfont.eot');
	src: url('eurof36-webfont.eot?#iefix') format('embedded-opentype'),
	url('eurof36-webfont.woff') format('woff'),
	url('eurof36-webfont.ttf') format('truetype'),
	url('eurof36-webfont.svg#eurofurence_light_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'eurofurence-regular';
	src: url('eurof55-webfont.eot');
	src: url('eurof55-webfont.eot?#iefix') format('embedded-opentype'),
	url('eurof55-webfont.woff') format('woff'),
	url('eurof55-webfont.ttf') format('truetype'),
	url('eurof55-webfont.svg#eurofurence_regular') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'eurofurence-italic';
	src: url('eurof56-webfont.eot');
	src: url('eurof56-webfont.eot?#iefix') format('embedded-opentype'),
	url('eurof56-webfont.woff') format('woff'),
	url('eurof56-webfont.ttf') format('truetype'),
	url('eurof56-webfont.svg#eurofurence_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'eurofurence-bold';
	src: url('eurof75-webfont.eot');
	src: url('eurof75-webfont.eot?#iefix') format('embedded-opentype'),
	url('eurof75-webfont.woff') format('woff'),
	url('eurof75-webfont.ttf') format('truetype'),
	url('eurof75-webfont.svg#eurofurence_bold') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'eurofurence-bolditalic';
	src: url('eurof76-webfont.eot');
	src: url('eurof76-webfont.eot?#iefix') format('embedded-opentype'),
	url('eurof76-webfont.woff') format('woff'),
	url('eurof76-webfont.ttf') format('truetype'),
	url('eurof76-webfont.svg#eurofurence_bolditalic') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'OpenSans-bold';
	src: url('opensans-bold-webfont.eot');
	src: url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('opensans-bold-webfont.woff') format('woff'),
	url('opensans-bold-webfont.ttf') format('truetype'),
	url('opensans-bold-webfont.svg#open_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'Opensans-light';
	src: url('opensans-light-webfont.eot');
	src: url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('opensans-light-webfont.woff') format('woff'),
	url('opensans-light-webfont.ttf') format('truetype'),
	url('opensans-light-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'OpenSans';
	src: url('opensans-regular-webfont.eot');
	src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('opensans-regular-webfont.woff') format('woff'),
	url('opensans-regular-webfont.ttf') format('truetype'),
	url('opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;

}


/* end importing fonts */

