/* importing fonts */

@font-face {
	font-family: Comfortaa-bold;
	src: url(/fonts/comfortaa-bold.ttf?) format('truetype'),
	url(/fonts/comfortaa-bold.eot?) format('embedded-opentype');
}

@font-face {
	font-family: Comfortaa-regular;
	src: url(/fonts/comfortaa-regular.ttf?) format('truetype'),
	url(/fonts/comfortaa-regular.eot?) format('embedded-opentype');
}

@font-face {
	font-family: "OpenSans-bold";
	src: url(/fonts/opensans-bold.ttf?) format('truetype'),
	url(/fonts/opensans-bold.eot?) format('embedded-opentype');
}

@font-face {
	font-family: "OpenSans";
	src: url(/fonts/opensans-regular.ttf?) format('truetype'),
	url(/fonts/opensans-regular.eot?) format('embedded-opentype');
}

@font-face {
	font-family: "eurofurence-regular";
	src: url(/fonts/eurof55.ttf?) format('truetype'),
	url(/fonts/eurof55.ttf?) format('embedded-opentype');
}

/*end importing fonts*/

