.navbar
{
	.nav{
		li{
			a{
				color: #cfcfcf;
				font-family: "Comfortaa-regular";
				font-size: 16px;
			}
		}
	}
	.navbar-inner {
		background: #00525a;
		background-image: linear-gradient(to bottom, #006F7A 0%, #00525a 53%, #00444b 54%, #003b41 100%);
		background-repeat: repeat-x;
		filter: none;
		.brand {
			color: #ffffff;
			font-family: "Comfortaa-bold";
			font-size: 28px;
			margin-left: 30px;
		}
	}
	@media (max-width: 767px)
	{
		.navbar-inner .brand {
			margin-left: 0px;
		}
	}

	li.calendar-icon
	{
		a{
			background: url(/images/header/icons.png) no-repeat 0px 0px;
			width: 35px;
			height: 35px;
			position: relative;
			padding: 0;
			left: -10px;
			top: 5px;
		}
	}

	li.messages-icon
	{
		a{
			background: url(/images/header/icons.png) no-repeat -35px 0px;
			width: 35px;
			height: 35px;
			position: relative;
			padding: 0;
			left: 0px;
			top: 5px;
		}
		p{
			text-align: center;
			font-size: 10px;
			color: #ffffff;
			line-height: 10px;
			//margin-bottom: 0px;
		}
	}

	ul.nav.pull-right{
		li.user-name{
			p{
				font-family: "Comfortaa-regular";
				font-size: 22px;
				margin: 10px 10px 0px 10px;
				color:  #ffffff;
			}
			a{
				color: #ffffff;
				padding: 0;
			}
			a:hover{
				color: #ffffff;
			}
		}
		li.splitter
		{
			border-color: #043338;
			border-left-style: solid;
			border-right-style: solid;
			border-width: 1px;
			border-right-color: #056C79;
			margin: 5px 10px;
			height: 30px;

		}
		li.exit{
			a{
				font-family: "Comfortaa-regular";
				font-size: 16px;
				color:  #ffffff;
				padding: 0 10px 0 5px;
				line-height: 40px;
			}
		}
		li.avatar{
			margin-top: 5px;
		}
	}
}

.navbar-fixed-top .container{
	width: auto;
}
/* ------ PADDING ELEM FOR CRATE EMPTY PADDING BETWEEN HEADER AND CONTENT ------ */
@media (min-width: 980px)
{
	.navbar_padding_elem
	{
		padding-top: 41px;
		padding-bottom: 15px;
	}
}