// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//- require jquery.ui
//- require jqurey.ui.all
//= require fullcalendar
@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";

body {
  margin-top: 0px;
  font-size: 14px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}


#wrap {
  width: auto;
  margin: 0 auto;
}

div#external-events {
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
}

#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

.external-event { /* try to mimick the look of a real event */
  margin: 10px 0;
  padding: 2px 4px;
  background: #3366CC;
  color: #fff;
  font-size: .85em;
  cursor: pointer;
}

#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

#external-events p input {
  margin: 0;
  vertical-align: middle;
}

#calendar {
  width: 100%;
  position: relative;
  min-width: 700px;
  margin: 0 auto;
}

div.container{
  h1 {
	 display: inline-block;
  }
}
.navbar-fixed-top .container{
  width: auto;
}
input.span2{
  height: 30px;
}
.calendar-container
{
  text-align: center;
  font-size: 14px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

.description-label
{
  overflow: hidden;
  word-wrap: break-word;
  max-height: 80px;
  width: 135px;
}


#EventTitle
{
  width: auto;
  max-width: 150px;
}

#EventDescription
{
  width:auto;
  max-width: 150px;
}

#external-event-template
{
  width:auto;
  max-width: 150px;
}

#events-label-container
{
  width:auto;
  max-width: 150px;
  margin-right: 0px;
}

p4
{
  font-size: 11px;
}

.uploadImage {
	box-sizing: border-box;
	width: 160px;
	text-transform: uppercase;
	position: relative;
	input {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		filter: alpha(opacity = 0);
		-ms-filter: "alpha(opacity = 0)";
		width: 100%;
		height: 100%;
	}
}

#images {
	list-style: none;
	height: 50px;
	text-align: center;
	padding: 0;
	margin: 0 auto;
	li.image {
		width: 50px;
		float: left;
		position: relative;
		margin-right: 20px;
		.deleteImage {
			position: absolute;
			top: -15px;
			right: -10px;
			cursor: pointer;
		}
	}
}


.main_box{
  margin: 0 auto;
  width: 1000px;
}
.sidebar{
  float: left;
  width: 20%;
}
.content_box{
  margin-left: 22%;
}
.list_box{
  overflow-y: scroll;
  max-height: 70%;
}
.message_box{
  padding-left: 20px;
  border-bottom: 2px solid #aaaaaa;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.message_content{

}
.avatar_in_box{
  float: left;
}
.conversation_box{
  padding-left: 20px;
  border-bottom: 2px solid #aaaaaa;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.conversation_box:hover{
  background: #F5F5F5;
  border-radius: 10px;
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
}
.social-btn
{
  width: 150px;
  margin-top: 12px;
}

#forms
{
  padding: 120px 0 100px;
}

input.large
{
  height: 30px;
}

select#user_role
{
  max-width: 206px;
}



div#blac-div
{
  background-color: #000;
  color: #999999;
  maggin-top:0px;
  maggin-bottom:5px;
  padding-top: 2px;
  height: 40px;
  padding-left: 10px;
  h5{;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-weight: 100;
  }
}

div#for-close
{
  padding-right: 10px;
  float: right;
  a#close-button{
    color: #999999;
    font-size: 14px;
    cursor: pointer;
  }
  a#close-button:link
  {
    color: #999999
  }
  a#close-button:hover
  {
    color: #ffffff;
    text-decoration: none;
  }

}


div.mainbox{
  height: 200px;

  textarea#send-message-input
  {
    width: 100%;
    height: 90px;
    resize: none;
  }
}
#iconic{
  text-align: center;
}
.modal
{
  $width: 350px;
  width: $width;
  margin-left: -$width / 2;
}

#black
{
  background-color: #000;
  color: #999999;
}

#send-message-button-for-list
{
  float:left
}
#send-message-button
{
  float:right
}
div#events-container.container
{

  margin-left: 10px;
  margin-bottom: 20px;
}
div.span10.offset2
{
  margin-left: 0px;
}


#create-event-button
{
  float: right
}

#error-div
{
  display: none;
}

#date-input
{
  display: none;
}

form#add-event-form
{
  #title-input
  {
    font-size: 11px;
    width: 195px;
  }
  #description-input
  {

    font-size: 11px;
    width: 195px;
  }
  label
  {
    margin-right: 10px;
    font-size: 11px;
  }
}
.fc-border-separate
{
  tbody
  {  cursor: hand;  }
}

.selected-day
{
  background-color: #EAF7D6;
}

#inside-popover
{
  display: none
}

div.mainbox-add{
  width: 200px;
  padding-bottom: 10px;
  data-html: true;
  font-size: 8px
}

.fc-event-inner
{
  cursor: hand;
}

.flying {
  margin: 15px 0 0 0;
  text-align: right;
}

.text-right {
  text-align: right;
}

.favicon {
  width: 16px;
  height: 16px;
}

.cursor:hover
{
  cursor: pointer;
}

#text-name
{
  display:none
}


#text-email
{
  display:none
}

a {
	b {
		color: #003377;
	}
}
