// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//- require jquery.ui
//- require jqurey.ui.all
//= require fullcalendar
@import "bootstrap";
@import "bootstrap-responsive";




body {
  font-size: 14px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#wrap {
  width: auto;
  margin: 0 auto;
}

div#external-events {
  padding-left: 10px;
  max-width: 216px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
  margin: 0px;
}

#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

.external-event { /* try to mimick the look of a real event */
  margin: 10px 0;
  padding: 2px 4px;
  background: #3366CC;
  color: #fff;
  font-size: .85em;
  cursor: pointer;
}

#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

#external-events p input {
  margin: 0;
  vertical-align: middle;
}


div.container{
  margin-left: 30px;
  margin-right: 30px;
}
.navbar-fixed-top .container{
  width: auto;
}
input.span2{
  height: 30px;
}
.calendar-container
{
  margin-top: 0px;
  text-align: center;
  font-size: 14px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}
#calendar
{
  //display: block;
  position: relative;
  width: 100%;
  margin: 0;
  min-width: 700px;
}

#EventTitle
{
  width: auto;
  max-width: 150px;
}

#EventDescription
{
  width:auto;
  max-width: 150px;
}

#external-event-template
{
  width:auto;
  max-width: 150px;
}


#external-events
{

}


#events-label-container
{
  width:auto;
  max-width: 150px;
  margin-right: 0px;
}

.span9
{
  float: left;
}

p4
{
  font-size: 11px;
}