#price-div
{
  display: none;
}

body{
	height: 100%;
	width: 100%;
	position: absolute;
}


#forms{
	padding: 0px;
	h2{
		margin-top: 120px;
	}
}

div.navbar_padding_elem{
	padding: 0;
	position: fixed
}

div.empty_footer_filler{
	margin: 0;
	position: fixed;
}

div.navbar.navbar-inverse.navbar-fixed-top{
	margin: 0;
}

.reg-container{
	min-height: 100%;
	min-width: 340px;
	margin-bottom: -60px;
	padding-top: 40px;
	background-color: #d2e6d5;
	.row-fluid{
		.control-wrapper{
			text-align: left;
			width: 300px;
			margin: 0 auto;
			input#user_email, input#user_password{
				width: 300px;
			}
			label{
				font-family: OpenSans;
			}
		}
	}
	#user_name{
		display: none;
	}
	#user_role{
		display: none;
	}
	#price-field{
		display: none;
	}
	h2.reg-title{
		text-align: center;
		font-family: 'comfortaa-regular';
		color: #e25957;
	}
}

div.role-group{
	max-width: 390px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	button#options.active{
		background-image: linear-gradient(to bottom, #e25957, #bc4b49);
	}

	button#options.active:hover{
		background-color: #bc4b49;
	}

	button.btn{
		font-family: 'opensans';
		text-shadow: none;
		color: #ffffff;
		background-image: linear-gradient(to bottom,  #d2e6d5, #bbd2be);
		width: 160px;
		text-align: center;
		display: inline;
		margin-left: 15px;
		margin-right: 15px;
	}

	button.btn:hover{
		//background-image: linear-gradient(to bottom,  #bbd2be, #9fb1a1);
		background-color: #bbd2be;
	}

	.client-option{
		//float: left;
	}
	.contractor-option
	{
		margin-left: 30px;
	}
}

