// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'social_link';
@import 'event_table';
@import 'icons';

.back_white_box
{
	$border-raduis: 10px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: $border-raduis;
	margin-bottom: 10px;
	min-height: 180px;
	padding: 10px ($border-raduis + 5);
	overflow: auto;
}

.popover_box
{
	background-color: #ffffff;
	display: block;
	position: absolute;
	width: 80%;
	max-height: 60%;
	left: 50%;
	top: 10%;
	margin-left: -40%;
	box-shadow: 0 0 15px #000;
	border: none;
	z-index: 10;
	overflow-y: auto;
	border-radius: 5px;
}

#image_gallery_popover
{
	background-color: rgba(0, 0, 0, 0.85);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1051;
	img {
		display: block;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
	}
}

.portfolio_empty
{
	background-color: #fff;
	color: #00525a;
	font-size: 60px;
	padding-top: 100px;
	height: 200px;
	line-height: 60px;
	text-align: center;
}

.to_right{
	text-align: right;
	margin-top: -10px;
	margin-right: -10px;
}

.dark_green
{
	color: #00525a;
}

.info_user_name
{
	color: #00525a;
	font-family: 'OpenSans';
	font-size: 34px;
	line-height: 36px;
	margin-top: 0;
}

.info_user_city
{
	color: #00525a;
	font-family: 'OpenSans';
	font-size: 24px;
	font-weight: normal;
	line-height: 26px;
	margin-top: 0;
}

.header-red-text
{
	color: #e25957;
	display: inline-block;
	font-family: 'OpenSans';
	-webkit-font-smoothing: 'antialiased';
	font-size: 24px;
	padding-top: 10px;
}

.btn-link-red
{
	border-color: transparent;
	cursor: pointer;
	color: #e25957;
	font-family: 'OpenSans';
	-webkit-font-smoothing: 'antialiased';
	font-size: 20px;
	line-height: 22px;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 2px 0;
}
.btn-link-red:hover,
.btn-link-red:active
{
	background: none;
	box-shadow: none;
	text-decoration: underline;
}
.btn-link-red:focus
{
	background: none;
	outline: none;
	text-decoration: underline;
}

.openSans-bold
{
	font-family: 'OpenSans-bold';
	-webkit-font-smoothing: 'antialiased';
}

.disable-link
{
	opacity: 0.3;
}

.left_bold_text
{
	color: #e25957;
	font-family: 'OpenSans-bold';
	-webkit-font-smoothing: 'antialiased';
	font-size: 24px;
	text-align: right;
}
@media (max-width: 767px)
{
	.left_bold_text
	{
		text-align: left;
	}
}
.right_text
{
	color: #00525a;
	font-family: 'OpenSans';
	font-size: 20px;
	font-weight: bold;
	line-height: 28px;
}

.right_text ul
{
	list-style: none;
	margin-left: 0;
	li {
		line-height: 24px;
	}
}

table.vertical-header th
{
	text-align: right;
}

.center,
td.center
{
	text-align: center;
}

.pointer
{
	cursor: pointer;
}

.user_avatar
{
	min-width: 125px;
	width: 30%;
	float: left;
	margin-right: 14px;
}

.right_user_panel // Using in user page for contain name, city, and buttons
{
	float: left;
}

.paginator
{
	text-align: center;
	.elem
	{
		margin: 0 10px;
	}
}