@font-face {
	font-family: Comfortaa-bold;
	src: url(/fonts/comfortaa-bold.ttf?) format('truetype');
}
@font-face {
	font-family: Comfortaa-regular;
	src: url(/fonts/comfortaa-regular.ttf?) format('truetype');
}

body {
	background: url(/images/header/background.png) 0 0
}

.navbar-fixed-top .container {
  width: auto;
}
.box {
  font-size: 16px;
  position: relative;
  padding: 40px 50px 60px 50px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-inner {
  background-color: #00525a;
  background-image: linear-gradient(to bottom, #00525a, #00525a);
  background-repeat: repeat-x;
  filter: none;
}

.navbar .navbar-inner .brand {
  color: #ffffff;
  font-family: "Comfortaa-bold";
  font-size: 28px;
  margin-left: 30px;
}

.navbar a {
  font-family: "Comfortaa-regular";
	font-size: 20px;
  color: #ffffff;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: #cfcfcf;
}

.navbar_padding_elem
{
  padding-top: 41px;
}

.box:before, .box:after {
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 0.5%;
  bottom: 12px;
  background: transparent;
  -webkit-transform: skew(-3deg) rotate(-3deg);
  -moz-transform: skew(-3deg) rotate(-3deg);
  -ms-transform: skew(-3deg) rotate(-3deg);
  -o-transform: skew(-3deg) rotate(-3deg);
  transform: skew(-3deg) rotate(-3deg);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.box:after {
  left: auto;
  right: 0.5%;
  -webkit-transform: skew(3deg) rotate(3deg);
  -moz-transform: skew(3deg) rotate(3deg);
  -ms-transform: skew(3deg) rotate(3deg);
  -o-transform: skew(3deg) rotate(3deg);
  transform: skew(3deg) rotate(3deg);
}

.logo
{
	color: #e25957;
	font-family: 'comfortaa-bold';
	font-size: 90px;
	line-height: initial;
  text-align: center;
}
.text
{
	color: #00525a;
	font-family: 'comfortaa-regular';
	font-size: 24px;
	text-align: center;
}

.text_header
{
	color: #e25957;
	font-family: 'comfortaa-bold';
	font-size: 36px;
	line-height: 42px;
	margin-bottom: 15px;
}

ul.list
{
	margin-left: 0px;
	color: #00525a;
	font-family: 'comfortaa-bold';
	font-size: 24px;
	list-style: none;
	li{
		line-height: 28px;
	}
}

.text-to-left
{
	text-align: left;
}
.text-to-right
{
	text-align: right;
}

.center
{
	text-align: center;
}

div.try_it
{
	line-height: initial;
}

@media (max-height: 655px) and (min-width: 979px) {
	div.try_it
	{
		bottom: 68px;
		left: 50%;
		margin-left: -150px;
		position: fixed;
		width: 300px;
	}
}

a.try_it
{
	background-color: #e25957;
	border-radius: 15px;
	color: #ffffff;
	font-family: 'comfortaa-bold';
	font-size: 36px;
	padding: 5px 10px;
	text-align: center;
}
a.try_it:hover
{
	background-color: #983c3b;
	color: #ffffff;
	text-decoration: none;
}

/* --- FOORTER --- */
.navbar-fixed-bottom{
	.inner-bottom{
		background: url(/images/footer/background.png) 0px 0px;
		border-width: 0px;

		li > a {
			padding: 0;
		}
		a.kerweb{
			margin-left: 20px;
			line-height: 50px;
			font-family: Comfortaa-regular;
		}
		.nav.pull-right{
			.google-plus-link{
				a{
					background: url(/images/footer/soc_links_icons.png) no-repeat 0px 0px;
					width: 51px;
					height: 49px;
					line-height: 20px;
				}
				margin-right: 20px;
				margin-top: 10px;
			}
			.facebook-link{
				a{
					background: url(/images/footer/soc_links_icons.png) no-repeat -53px 0px;
					width: 51px;
					height: 49px;
					line-height: 20px;
				}
				margin-right: 20px;
				margin-top: 10px;
			}
			.twitter-link{
				a{
					background: url(/images/footer/soc_links_icons.png) no-repeat -104px 0px;
					width: 53px;
					height: 49px;
					line-height: 20px;
				}
				margin-right: 20px;
				margin-top: 10px;
			}
		}
	}
}

.empty_footer_filler
{
	width: auto;
	padding-top: 60px;
}
/*--- END FOOTER --- */