.navbar.navbar-inverse.navbar-fixed-bottom
	.navbar-inner.inner-bottom
		%a.kerweb{:href => 'http://kerweb.ru'}
			&copy Kernel web 2013
		%ul.nav.pull-right
			%li.google-plus-link
				= link_to '','/'
			%li.facebook-link
				= link_to '','/'
			%li.twitter-link
				= link_to '','/'