= stylesheet_link_tag 'home'
.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %button{:type=> 'button', :class=> 'btn btn-navbar collapsed', 'data-toggle'=>'collapse','data-target'=>'.nav-colapse' }
        %span{:class=>'icon-bar'}
        %span{:class=>'icon-bar'}
        %span{:class=>'icon-bar'}
      %a{:class => 'brand', :href=> 'index'} Kogdata
      .nav-collapse.collapse
      .nav-collapse.collapse
        .navbar-inner.pull-right
          .btn-group
            %a{:class=> 'brand', :href=> '../lc/index'}
              =current_user.email
          .btn-group
            %button{:class=> 'btn', :type=>'submit'} Logout