= stylesheet_link_tag 'home'
.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %button{:type=> 'button', :class=> 'btn btn-navbar collapsed', 'data-toggle'=>'collapse','data-target'=>'.nav-colapse' }
        %span{:class=>'icon-bar'}
        %span{:class=>'icon-bar'}
        %span{:class=>'icon-bar'}
      %a{:class => 'brand', :href=> '/'} Kogdata
      %ul.nav.pull-right
        %li.divider-vertical
        -if user_signed_in?
          %li
            = link_to "OFFICE", "/office"
          %li.divider-vertical
          %li
            = link_to "SIGN OUT", destroy_user_session_path
        -else
          %li
            %a{:href => "/users/sign_in"} LOG IN
          %li
            %a{:href => "/users/sign_up"} SIGN UP