<<<<<<< HEAD
= stylesheet_link_tag 'home'
=======
>>>>>>> 9af7e512a769aa0a971a6daba330d3db9353765d
.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %button{:type=> 'button', :class=> 'btn btn-navbar collapsed', 'data-toggle'=>'collapse','data-target'=>'.nav-colapse' }
        %span{:class=>'icon-bar'}
        %span{:class=>'icon-bar'}
        %span{:class=>'icon-bar'}
      %a{:class => 'brand', :href=> 'index'} Kogdata
      %ul.nav.pull-right
        %li.divider-vertical
        -if user_signed_in?
          %li
            %a{:href => "/users/sign_out"} SIGN OUT
        -else
          %li
            %a{:href => "/users/sign_in"} LOG IN
          %li
            %a{:href => "/users/sign_up"} SIGN UP