%html
	%head
		=javascript_include_tag "application"
		=stylesheet_link_tag 'application'
		%title Kogdata
	%body
		%p.notice
			= notice
		%p.alert
			= alert
		= if user_signed_in? then render 'application/header_authorized' else render 'application/header' end
		= yield
